@use '../../../extra-styles/elevation-mixins' as *;
@use '../../../extra-styles/colors' as *;

:host {
  display: grid;
  margin: 16px auto;
  padding: 16px 8px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 32px;
  gap: 8px;
  @include elevation-mixin(2);

  @media (min-width: 47rem) {
    grid-column: 2 / span 1;
    width: 99%;
  }

  @media (min-width: 64rem) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }
}
