:host {
  display: flex;
  padding: 8px 0;
  justify-content: space-evenly;
  background-color: black;
  font-size: 3rem;
}

.facebook-color {
  color: #4267B2;
}

.youtube-color {
  color: #FF0000;
}

.twitter-color {
  color: #1DA1F2;
}
