<div class="product-item-placeholder__image-container">
  <div class="product-item-placeholder__image-frame">
    <div class="product-item-placeholder__image">
      <div class="product-item-placeholder__shine"></div>
    </div>
  </div>
</div>
<div class="priduct-item-placeholder__name-container">
  <div class="product-item-placeholder__name">
    <div class="product-item-placeholder__shine"></div>
  </div>
</div>
<div class="product-item-placeholder__price-container">
  <div class="product-item-placeholder__price">
    <div class="product-item-placeholder__shine"></div>
  </div>
</div>
<div class="product-item-placeholder__button-container">
  <button class="btn btn-main-gradient product-item-placeholder__btn">
    <i class="fas fa-plus"></i> <i class="fas fa-shopping-basket"></i>
  </button>
</div>
