<nav>
  <ul class="sidebar__nav-list" #navList>
    <li class="sidebar__nav-link">
      <a [routerLink]="['/products', 'burgers']"><div class="sidebar__burger-icon sidebar__link-icon"></div><span>Burgers</span></a>
    </li>
    <li class="sidebar__nav-link">
      <a [routerLink]="['/products', 'salads']"><div class="sidebar__salad-icon sidebar__link-icon"></div><span>Salads</span></a>
    </li>
    <li class="sidebar__nav-link">
      <a [routerLink]="['/products', 'drinks']"><div class="sidebar__drink-icon sidebar__link-icon"></div><span>Drinks</span></a>
    </li>
    <li class="sidebar__nav-link">
      <a [routerLink]="['/products', 'desserts']"><div class="sidebar__ice-creem-icon sidebar__link-icon"></div><span>Desserts</span></a>
    </li>
    <li class="sidebar__nav-link">
      <a [routerLink]="['/products', 'others']"><div class="sidebar__others-icon sidebar__link-icon"></div><span>Others</span></a>
    </li>
  </ul>
</nav>
